{% block footer %}
    <div class="footer">
        <div class="footer-header">
            <div>Footer</div>
        </div>
        <div class="footer-content"></div>
    </div>
{% endblock footer %}