$font-stack:    Helvetica, sans-serif;
$primary-color: #250;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.form, .button-search {
  display: flex;
  flex-direction: row;
  flex: 0 0 35%;
  max-width: 35%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.select2 {
  margin-right: 0.5em !important;
}

#locationField {
  margin-left: 0.5em !important;
}

.button-search {
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
}

#city, .hidden {
  display: none;
}

#city.visible {
  display: flex;
}
