$font-normal: Helvetica, sans-serif;
//$font-fancy: Indie Flower, cursive;
$font-fancy: Amatic SC, cursive;
$font-big-size: 60px;
$background: azure;
$background-side: ivory;
$input-disabled-opacity: 0.5;

body .page {
  display: flex;
  flex-direction: row;
}

body .page .left {
  flex: 0 0 7.5%;
  max-width: 7.5%;
  justify-content: flex-start;
  background: $background-side;
}

body .page .right {
  flex: 0 0 7.5%;
  max-width: 7.5%;
  justify-content: flex-end;
  background: $background-side;
}

body .page .content,
body .page .results {
  flex: 0 0 85%;
  max-width: 85%;
  justify-content: center;
}

body .page .content .content-header,
body .page .content .content-content {
  display: flex;
  flex-direction: column;
}

body .page .content .content-header {
  background: $background;
}

body .page .content .content-content,
body .page .results .results-content {
  display: flex;
  flex-direction: row;
}

body .page .content-content .welcome {
  font-family: $font-fancy;
  font-size: $font-big-size;
  flex: 0 0 45%;
  max-width: 45%;
  text-align: end;
}

body .page .content-content .index-form {
  font: $font-normal;
  flex: 0 0 55%;
  max-width: 55%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

body .page .results-content .text {
  font: $font-normal;
  flex: 0 0 65%;
  max-width: 65%;
  justify-content: center;
  margin: 0 auto;
}

body .page .content-content .index-form .name,
body .page .content-content .index-form .place {
  flex: 0 0 50%;
  max-width: 185px;
}

body .page .content .content-button {
  height: 35px;
}

body .page .content .content-button .button {
  margin: 0 auto;
  text-align: center;
}

body .footer {
  background: $background;
  width: 100%;
  height: 2.5em;
}

#form_place {
  display: none;
}

#autocomplete {
  width: 160px;
}

body .page .content .content-content .register-form {
  flex: 0 0 100%;
  max-width: 100%;
}

body .page .content .content-content .register-form .username,
body .page .content .content-content .register-form .password {
  display: flex;
  justify-content: center;
}

body .page .content .inputDisabled {
  pointer-events: none;
  opacity: $input-disabled-opacity;
}

body .page .content .admin_tabs {
  border-style: solid;
  border-width: medium;
}

body .page .content .admin_tab_1 {
  background: pink;
}

