{% extends '/base.html.twig' %}
    {% block content %}
        <div class="results">
            {% include "service/header.html.twig" %}
            <div class="results-content">
                <div class="text">
                    {{ results.getId() }}
                    {{ results.job.getNamePl() }}
                </div>
            </div>
        </div>
    {% endblock %}