{% extends '/base.html.twig' %}
{% block content %}
        <div class="content">
            {% include '/service/header.html.twig' %}
            <div>
                <div class=""> Nowa praca </br>
                    Działalność<input id="new_job" type="text">
                    Kraj<input id="new_country"type="text">
                    Obszar<input id="new_area" type="text">
                    Miasto<input type="text">
                    Cena jednostkowa<input type="number">
                    <button onclick="addTask()" type="submit">Dodaj</button>
                </div>
            </div>
        </div>
    {% endblock content%}
    {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script>
        const addTask = () => {
            const job = $("#new_job").val();
            const country = $("#new_country").val();
            const area = $("#new_area").val();
            $.ajax({
                url: "/addTask",
                type: "post",
                data : { job : job, country : country, area : area },
                success: function(response) {
                    if(response == 1) {
                        console.log('success');
                    }
                    if(response == 0) {
                        console.log('error');
                    }
                }
            })
        }
    </script>
    {% endblock javascripts %}