{% extends 'base.html.twig' %}
    {% block content %}
        <div class="content">
            <div class="content-header">
                <div>Header</div>
            </div>
            <div class="content-content">
                <div class="text">
                    <p>I'am looking for</p>
                </div>
                <div class="form">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
