<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<h1>Home page</h1>
<body>
<br>
    <div class="search-bar">
        <select class="js-example-basic-single" multiple="multiple">
            {% for category in categories %}
                <option value="{{ category.name }}">{{  category.name }}</option>
            {% endfor %}
        </select>
    </div>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>