<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<h1>Home page</h1>
<body>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>