<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            {#<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">#}
            <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        {% endblock %}
    </head>

    {% block body %}
        {% block page %}
            <div class="page">
                {% include 'service/left.html.twig' %}
                {% block content %}{% endblock content%}
                {% include 'service/right.html.twig' %}
            </div>
        {% endblock page %}
        {% include '/service/footer.html.twig' %}
    {% endblock body%}
    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</html>

